
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to our Filmstore</h2>
<br />

<div class="loading-screen">
    <a href="/Filmbase/LogIn">
        <div class="loading">

            <span style="font-size:25px; z-index:2; color: mediumspringgreen">LogIn</span>
            <span></span>
            <span></span>
            <span></span>

        </div>
    </a>
</div>